<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{{url_for('static',path='/style.css')}}">
</head>

<body>
    <div class="nav">
        <h1>歡迎光臨，這是會員頁</h1>
    </div>
    <form>
        <div class="container" method="GET">
            <div class="login">
                <h2>{{show_name}} 恭喜您，成功登入系統</h2>
                <div><a href="/signout">登出系統</a></div>
            </div>
        </div>
        <div class="post_msg">
            <h2>快來留言吧</h2>
            <label for="say">我想說&nbsp;&nbsp;
                <input id="say" name="say" type="text" required>
            </label>
            <div><button type="submit">送出</button></div>
        </div>
    </form>
    <div>
        <ul>
            {% for x in show_msgboard %}
              <li>{{ x['name'] }} : <span class="li_message">{{ x['content'] }}</span>
            {% endfor %}
        </ul> 
    </div>
    <!-- <script src="app.js"></script> -->
<script src="{{url_for('static',path='/app.js')}}"></script>
</body>
</html>
